{{ ansible_managed | comment }}
# Admin password file (format [username][space][password][space][group])
# username password group|group
{% if wowza_admin_password is defined and wowza_admin_password %}
{% if wowza_rest_auth_method == 'digestfile' %}
{{ wowza_admin_user }} {{ ( wowza_admin_user + ":Wowza:" + wowza_admin_password ) | hash("md5") }} admin|advUser
{% else %}
{{ wowza_admin_user }} {{ wowza_admin_password }} admin|advUser
{% endif %}
{% endif %}
{% if wowza_users %}
{% for user in wowza_users %}
{% if wowza_users[user].password is defined and wowza_users[user].password %}
{% if wowza_users[user].groups is defined and wowza_users[user].groups %}
{% if wowza_rest_auth_method == 'digestfile' %}
{{ user }} {{ ( user + ":Wowza:" + wowza_users[user].password ) | hash("md5") }} {{ wowza_users[user].groups | join('|') }}
{% else %}
{{ user }} {{ wowza_users[user].password }} {{ wowza_users[user].groups | join('|') }}
{% endif %}
{% else %}
{% if wowza_rest_auth_method == 'digestfile' %}
{{ user }} {{ ( user + ":Wowza:" + wowza_users[user].password ) | hash("md5") }}
{% else %}
{{ user }} {{ wowza_users[user].password }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
