{{ ansible_managed | comment }}
# Admin password file (format [username][space][password][space][group])
# username password group|group
{% if wowza_admin_password is defined and wowza_admin_password %}
{% if wowza_rest_auth_method == 'digestfile' %}
{{ wowza_admin_user }} {{ ( wowza_admin_user + ":Wowza:" + wowza_admin_password ) | hash("md5") }} admin|advUser
{% else %}
{{ wowza_admin_user }} {{ wowza_admin_password }} admin|advUser
{% endif %}
{% endif %}
{% if wowza_users %}
{% for user in wowza_users %}
{% if user.password is defined and user.password %}
{% if user.groups is defined and user.groups %}
{% if wowza_rest_auth_method == 'digestfile' %}
{{ user.name }} {{ ( user.name + ":Wowza:" + user.password ) | hash("md5") }} {{ user.groups | join('|') }}
{% else %}
{{ user.name }} {{ user.password }} {{ user.groups | join('|') }}
{% endif %}
{% else %}
{% if wowza_rest_auth_method == 'digestfile' %}
{{ user.name }} {{ ( user.name + ":Wowza:" + user.password ) | hash("md5") }}
{% else %}
{{ user.name }} {{ user.password }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
