{{ ansible_managed | comment }}
# Admin password file (format [username][space][password][space][group])
# username password group|group
{% if wowza_admin_password is defined and wowza_admin_password %}
{{ wowza_admin_user }} {{ (wowza_rest_auth_method == 'digestfile')
    | ternary((wowza_admin_user + ":Wowza:" + wowza_admin_password)
    | hash("md5"), wowza_admin_password) }} admin|advUser
{% endif %}
{% if wowza_users %}
{% for user in wowza_users %}
{% if user.password is defined and user.password %}
{{ user.name }} {{ (wowza_rest_auth_method == 'digestfile')
    | ternary((user.name + ":Wowza:" + user.password)
    | hash("md5"), user.password) }}
    {{- " " + user.groups | join('|') if user.groups | d() }}
{% endif %}
{% endfor %}
{% endif %}
