#!/usr/bin/expect -f

set timeout -1

spawn {{ wowza_install_workdir }}/{{ wowza_installer }} --mode text
match_max 100000

expect {
    -ex "Press \[Enter\] to continue:" { send "\r"; exp_continue }
    -ex "Do you accept this agreement? \[y/n\]: "
}
send "y\r"

expect -ex "License Key: \[\]: "
send -- "{{ wowza_license_key }}\r"

expect -ex "User Name: \[\]: "
send -- "{{ wowza_admin_user }}\r"

expect -ex "Password: :"
send -- "{{ wowza_admin_password }}\r"
expect -ex "Confirm Password: :"
send -- "{{ wowza_admin_password }}\r"

expect -ex "Start Wowza Streaming Engine automatically \[Y/n\]: "
send "y\r"

expect -ex "Do you want to continue? \[Y/n\]: "
send "y\r"
expect eof
